/* Outermost wrapping elements */

html {
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #111;
	font-size: 1.375em;
	font-family: 'Roboto', sans-serif;
}

body {
	position: relative;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	color: #FFF;
	height: 100%;
	background-color: #111;
	font-size: calc(12px + 0.5vw);
}

/* Generic element settings */

p {
  margin: 0px 0px 0.1rem 0px;
}

a, a:hover {
  color: #FFF;
}



/* The containers, top and bottom */

.top_container {
    display: flex;
    width: 90%;
    min-height: 50%;
    margin: auto;
    padding-top: 50px;
}

.bottom_container {
	padding: 0;
	width: 90%;
	margin: 0px 5%;
}




/* Thumbnails. Flexbox of tiles for each image */

.thumb_gutter {
    width: 260px;
    min-width: 260px;
}

#destinationThumbs {
}

.thumbnail {
	display: block;
	margin: 0 20px 20px 0;
	padding: 2px;
	border-radius: 4px;
	width: fit-content;
}

.border_black {
	border: 2px solid #000;
}

.border_white {
	border: 1px solid #FFF;
}

.border_yellow {
	border: 2px solid #44ff44; /* considered #FBCB1F alternate color */
}

.col_thumb {
}



/* WWT canvas */

#wwtcanvas {
	width: 90%;  /* note: overridden in script.js */
	height: 100%;  /* note: overridden in script.js */
	margin: auto;
	border: solid 1px #333;
	position: relative;
	box-sizing: content-box;
}

#page_title {
	position: absolute;
	top: 30px;
	left: 30px;
    color: #44ff44;
    opacity: .80;
}

#wwtcanvas h1 {
	font-size: calc(12px + 1vw); 
	font-weight: 700;
	margin: 0;
	user-select: none;
	-webkit-user-select: none;
}

#reset_target {
    position: absolute;
    top: 10px;
    right: 10px;
/*	font-family: 'FontAwesome';*/
    font-family: "Font Awesome 5 Free";
    color: #41BEECA0;
    display: none;
}

#reset_target:hover{
    color: #41BEEC;
}

#zoom_pan_container{
	position: absolute;
	bottom: 20px;
	width: 100%;
}

#zoom_pan_instrux {
	width: 600px;
    margin: 0 auto;
	text-align: center;
	font-size: 0.8rem;
	color: #EEEEEECC;
    background-color: #00000066;
    border-radius: 25px;
}




/* Target Descriptions */

#description_box {
	position: relative;
	margin-top: 20px;
	padding: 10px;
	border: solid 1px #44ff44; /* considered #FBCB1F alternate color */
	border-radius: 5px;
	background-color: #222223;
	box-shadow: 0px 0px 15px #000 inset;
}

#begin_container {
    margin-top: 50px;
	text-align: center;
}

#description_container {
	display: none;
	height: 100%;
	overflow-y: auto;
}

#description_box .container-fluid {
	display: none;
}

#description_box .row * + div {
	margin-top: 1em;
}

#description_box .row h3 {
    color: white;
    padding: 10px 0px 15px;
    border-bottom: dotted #44FF44 2px;
    text-align: center;
}

#description_box .row h4 {
	color: #8aff8a;
}

#description_box .row p {
	font-size: 1.6em;
    background-color: red;
}

#description_box .row a {
	color: #41BEEC;
}

#description_box i {
	position: absolute;
	bottom: 10px;
	right: 25px;
    font-family: "Font Awesome 5 Free";
	font-style: normal;
}

#scroll_arrow {
    display: none;
	color: #44ff44; /* considered #FBCB1F alternate color */
}

.fa-arrow-down {
	display: none;
}





/* Colophon section */

#colophon {
	position: absolute;
	bottom: 10px;
	left: 15px;
}

#colophon p {
  font-size: 0.5em;
  color: #BBB;
}

.colophon_link {
    color: #41BEEC;
}

#colophon img {
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
    margin: 0 2px;
}